
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<th:block th:fragment="cabecalho">
		<header>
			<nav id="navbarTop" class="navbar navbar-expand-md navbar-dark fixed-top bg-primary d-print-none">
				
					<div href="/"><img src="/img/logo30.svg"><!--<i class="far fas fa-futbol fa-lg fa-fw"></i>--> Controle Financeiro
					</div>
					<!--<a class="navbar-brand" th:href="@{/}"><img src="/img/logo30.svg"><i class="far fas fa-futbol fa-lg fa-fw"></i> Controle Financeiro
					</a>-->
					<button class="navbar-toggler" type="button" data-toggle="collapse" id="navbarToggler" data-target="#navbarCollapse">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav mr-auto">
					 <a class="dropdown-item" href="/">Início</a>
						</ul>
						<!--<div sec:authorize="isAnonymous()">
							<form class="form-inline mt-2 mt-md-0" th:action="@{/entrar}" method="get">
								<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Entrar</button>
							</form>
						</div>-->
						<div sec:authorize="isAuthenticated()">
							<form class="form-inline mt-2 mt-md-0" th:action="@{/logout}" method="post">
								<div class="btn-group">
									<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Sair</button>
									<!--<a class="dropdown-item" href="/logout">Sair</a>-->
							
									</div>
								</div>
							</form>

						</div>
					</div>
				<div class="bottom-gradient"></div>
			</nav>
		</header>
	</th:block>
</body>
</html>
